In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
# 0 represents normal transactions
# 1 reprsents fraud transactions
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
#separating data for analysis
normal=df[df.Class==0]
fraud=df[df.Class==1]

In [7]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:
#statistics measure of the data
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [10]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [11]:
legit_sample=normal.sample(n=492)

In [12]:
new_dataset=pd.concat([legit_sample,fraud], axis=0)

In [13]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
22623,32346.0,1.279122,0.584917,-0.088498,1.096180,0.136385,-1.168110,0.627062,-0.419072,-0.448034,...,0.015417,0.158666,-0.157984,0.437090,0.890676,-0.300133,-0.000487,0.013242,0.89,0
218227,141225.0,2.067041,-1.906057,-0.939434,-1.471149,-1.551455,-0.428704,-1.252706,-0.057399,-0.806038,...,-0.104488,-0.150869,0.196569,0.603159,-0.346853,-0.212177,-0.011269,-0.021457,133.60,0
276867,167339.0,-0.531648,1.366545,-1.772915,-1.510421,1.433421,-0.458914,1.068749,0.342281,-0.369299,...,0.224501,0.668200,-0.270901,-0.347967,-0.171115,0.115528,0.359850,0.249419,0.77,0
139734,83321.0,-2.676986,2.101933,-0.671494,-2.147036,-1.513124,1.664665,1.062279,-8.536482,1.331117,...,6.108078,-2.880127,0.766059,-0.496370,0.038461,-0.208007,0.229339,-0.772413,402.00,0
240361,150571.0,-1.781607,0.498533,1.609930,1.620090,2.139420,2.369225,-0.547315,0.179024,-1.080823,...,1.069722,0.471326,-0.155711,-0.909085,-0.175472,-0.094862,0.024798,0.236831,0.76,0

In [14]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [15]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97621.839431,-0.000313,0.070039,-0.040161,-0.054885,0.018113,0.088889,0.031764,-0.078168,-0.015044,...,0.012555,-0.002716,0.021417,-0.042586,-0.023016,-0.013769,0.005220,-0.017237,0.005274,90.525650
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:



X=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [17]:
print(X.shape)
print(y.shape)

(984, 30)
(984,)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [19]:
#Splitting Data into training and testing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [20]:
print(X_train.shape)
print(X_test.shape)

(787, 30)
(197, 30)

In [21]:
#Applying model
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [22]:
#Evaluation
training_data_accuracy=accuracy_score(model.predict(X_train),y_train)
training_data_accuracy

0.9250317662007624

In [23]:
testing_data_accuracy=accuracy_score(model.predict(X_test),y_test)
testing_data_accuracy

0.8984771573604061